.app_container {
    display: flex;
    justify-content: center;
    height: 100%;
}

.container {
    width: 100%;
    position: absolute;
    text-align: center;
}

.app-content {
    display: flex;
    justify-content: center;
}
