.wealth-summary-card_container {
    margin: 15px;
    width: 21.875rem;
    height: auto;
    border-radius: 1.25rem;
    background-color: var(--background-card-color);
    padding: 24px;
    box-shadow: var(--box-shadow-color) 1px 2px 2px;

    footer {
        display: flex;
        flex-direction: row-reverse;
    }

    .accounts-list_container {
        .flex-direction-column();
        margin-top: 1rem;
        button {
            .font-medium(16pt);
            padding: 1px;
            cursor: pointer;
            background: transparent;
            border: transparent;
            border-radius: 1.25rem;
            &:hover {
                background-color: var(--background-hover-color);
                opacity: 80%;
            }
        }
    }
}

.wealth-summary-card_header {
    .font-highlight(25pt);
    .justify-space-between();
    button {
        cursor: pointer;
        background-color: transparent;
        border: transparent;
        &:hover {
            background-color: var(--background-hover-color);
            border-radius: 100px;
            opacity: 80%;
        }
    }
}

.wealth-summary-card_total_container {
    .font-highlight();
    .flex-direction-column();
    margin: 30px auto;

    span:first-of-type {
        .font-medium();
        margin: 10px 0px;
    }
}

.wealth-summary-card_summary-container {
    .flex-direction-column();

    .summary-item {
        .font-highlight(18pt);
        .justify-space-between();
        margin: 5px 0px;

        span {
            .font-medium();
        }
    }
}
