.primary-button {
    .font-highlight(16pt);
    border-radius: 30px;
    border: solid 1px var(--highlight-text-color);
    color: var(--highlight-text-color);
    background-color: transparent;
    padding: 5px 10px;

    &:hover {
        cursor: pointer;
        box-shadow: var(--box-shadow-color) 1px 2px 2px;
    }
}
