nav {
    .font-medium(20pt);
    display: flex;
    font-weight: bolder;
    background-color: var(--nav-bar-background-color);
    color: var(--header-text-color);
    padding: 10pt;
    span {
        margin: auto;
    }
}
