nav {
    background-color: var(--highlight-text-color);
    .font-medium(16pt);
    color: @header-text-color;
    font-weight: bolder;
    padding: 10pt;
    display: flex;
    span {
        margin-right: auto;
        margin-left: 3em;
    }
}
