@white: #ffffff;
@light-blue: #9aa3bc;
@gray: #606377;
@blue: #3b5cb8;
@light-grey: #00000029;
@background-color: #e8ebf6;
@white-hover: #eee;
@shadow: #9aa3bc;
@header-text-color: #ffffff;

body {
    --white: #ffffff;
    --light-blue: #9aa3bc;
    --normal-text-color: #606377;
    --highlight-text-color: #3b5cb8;
    --light-grey: #00000029;
    --background-color: #e8ebf6;
    --white-hover: #eee;
    --shadow: #9aa3bc;

    @media (prefers-color-scheme: dark) {
        --white: #ffffff;
        --light-blue: #9aa3bc;
        --normal-text-color: #606377;
        --highlight-text-color: #3b5cb8;
        --light-grey: #00000029;
        --background-color: #e8ebf6;
        --white-hover: #eee;
        --shadow: #9aa3bc;
    }
}
